* {
    margin: 0;
    padding: 0;
  }
  .cuerpo {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
    background: #222222;
  }
  .contenedor {
    width: 20rem;
    margin: auto;
    text-align: center;
    box-shadow: 20px 20px 60px #7e7a7a, -20px -20px 60px #7e7a7a;
    border-radius: 10px;
    position: relative;
  }
  textarea {
    width: 90%;
    resize: none;
    height: 10rem;
    background: #ffffff;
    outline: none;
    padding: 1rem 0.6rem;
    margin-bottom: 2rem;
    color: #222222;
    font-family: sans-serif;
    font-size: 1rem;
    border: transparent;
  }
  .titulo {
    text-align: center;
    font-size: 1.2rem;
    background: #091c20;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  .status-ex {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    display: none;
    font-size: 0.8rem;
    border-radius: 0 0 10px 10px;
    /* opacity: 0;*/
    background: #222222;
    transition: 1s;
  }
  @media (max-width: 20rem) {
    .container {
      width: 100%;
    }
  }
  

  