*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #191919; 
    color: #C1C1C1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7px;
    margin-left: 50px;
    font-size: 1.5em;
}

.brand span{
    color: #A20505;

}

.menu {
    display: flex;
    width: 40%;
    justify-content: space-around;

}

.menu li {
    list-style: none;

}

.menu a {
    color: #C1C1C1;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: .3rem;
}

.menu .active{
    color: #A20505;
}

.menu a:hover{
    background-color: #A20505;
    color: #191919 ;
    transition: ease-in .4s;
    border-radius: .3rem;
}


.main img{
    width: 350px;
    border: 7px solid #A20505;
    height: 600px;

}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1{
    font-size: 3em;
}

.info-content p{
    padding: 10px;
    padding-top: 1px;
}

span{
    color: #A20505;
}

.download-cv, .project-details{
    padding: 10px 20px;
    background-color: #A20505;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor:pointer;
    box-shadow: 1px 8px 15px -5px rgba(220, 0, 11, .69);
}

.download-cv:hover, .project-details:hover, .btn-submit:hover{
    background-color:#C1C1C1;
    box-shadow: none;
    transition: ease-in .2s;
}

.about{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    background-color: #C1C1C1;
}

.about img{
    width: 90%;
    grid-column: 1/5;
}

.about-info{
    grid-column: 5/10;
    padding: 3rem;
}

.about-info h2{
    font-size: 3rem;
    color: #191919;
}

.divider{
    height: 4px;
    width: 60px;
    background-color: #A20505;
    margin-top: 3px;
    margin-bottom: 2.5em;
}

.about p{
    margin-bottom: 1em;
}

.portfolio{
    width: 100%;
    background-color: #191919;
    color:#C1C1C1;

}

.portfolio-headings{
    width: 100%;
    padding: 2em;
    padding-top: 50px;
}

.portfolio-headings h2{
    font-size: 2.5em;
}

.portfolio .container{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.card{
    width: 300px;
    height: 420px;
    color: #C1C1C1;
    background-color:#080707;
    margin: 2em;
}

.card_img{
    width: 100%;
    height: 200px;
    background-image: url(/assets/imgAlbany/codigo.jpg);
    background-size: cover;
}

.card_title {
    padding: 20px;
    text-align: center

}

.card_title p{
    margin-top: 10px;
}

.card .project-details{
    margin: 0 auto;
    margin: 1em;
    width: 40%;
    text-align: center;

}

.card .project-details a{
    text-decoration: none;
    color: #191919;
    text-transform: uppercase;
}


.proyect_details_content{
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact-section{
    width: 100vw;
    height: 120vh;
    background-color: #191919;
    color: #C1C1C1;
}

.contact-headings{
    margin: 0 auto;
    margin-left: 50px;

}

.contact-headings h2{
    font-size: 3rem;
}

.container-contact{
    padding: 3em;
    margin: 0 auto;
    display: flex;
}

.container-contact img{
    width: 500px;
    height: 500px;
    bottom: 0px;
}

.contact-form{
    padding: 7em;
}

.contact-form h3{
    font-size: 1.5em;
}

.form{
    display:flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #C1C1C1;
    color: #C1C1C1;
}

.form textarea{
    height: 150px;
    background: none;
    color: #C1C1C1;
    padding: 1.5em;
    border-bottom: 1px solid #C1C1C1;
}

.btn-submit{
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #A20505;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 8px 15px -5px rgba(220, 0, 11, .69);
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    background-color: #4E0505;
}

.footer-content{
    font-size: 1.8em;
}